# Supabase - https://supabase.com/dashboard projenizden alın
EXPO_PUBLIC_SUPABASE_URL=https://xlobgruraszdtrsqomxa.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_AzZmD15azkTFlmRhE3WdwQ_tK7ZYm_r
        
